# Configuración del Entorno de Node.js
NODE_ENV=development

# Configuración del Servidor
SERVER_PORT=3000

# Base de Datos MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=gestor_activos

# Seguridad (JSON Web Tokens)
JWT_SECRET=
JWT_EXPIRES_IN=1h

# Microservicio Externo
HASH_SERVICE_URL=http://localhost:3010
HASH_SERVICE_KEY=
